
.GetStarted {
    color: #030303;
    font-size: 2.5em;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    line-height: 80px;
    top: 238px;
    left: 80px;
}

.paraCard{
    color: #000000;
    font-size: 1.3em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    line-height: 31px;
}
.imageLogo {
    width: 70%;
    padding-top: 10px;
}


.CardBody{
    background-color: white;
    border-radius: 80px;
    width: 850px;
    height: 450px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
}


td{
    vertical-align: middle;
}